="Howdy #{@user.first_name},"
%p
  There's gonna be a yard sale! An' yer invited!
  %br
  %br
  %strong Name:
  = @yard_sale.name
  %br
  %strong Date:
  = @yard_sale.sale_date
  %br
  Wear yer best western duds and get 5% off'n yer first purchase! Yee-HAW!
