="Dear #{@user.name},"
%p
  We are super stoked to announce an awesome yard sale! Please see the details below and join us!

  %strong Name:
  = @yard_sale.name
  %br
  %strong Date:
  = @yard_sale.sale_date
