%h2 These here yard sales are a-comin' up...

%ul.cards
  - @yard_sales.each do |ys|
    .flip
      .card
        .face.front
          = ys.name
        .face.back
          = ys.sale_date

.centered.double-size   
  = link_to ("Holler about yer own yard sale"), new_yard_sale_path


