%h2 The following yard sales are comin' up...

%ul
  - @yard_sales.each do |ys|
    .flip
      .card
        .face.front
          = ys.name
        .face.back
          = ys.sale_date

.centered.double-size   
  = link_to ("Post about yer own yard sale"), new_yard_sale_path


