<% provide(:title, 'About the Yard Sale App') %>
<div class="jumbotron">
  <p>Come and listen to a story about a man named Jed<br> 
  A poor mountaineer, barely kept his family fed,<br> 
  Then one day he was shootin at some food,<br> 
  And up through the ground came a bubblin crude.</p> 
  <p>
  Oil that is. Black gold. Texas tea. </p>
  <p>
  Well the first thing you know ol' Jed's a millionaire,<br> 
  Kin-folk said "Jed move away from there!" <br>
  Said "Californy is the place you oughtta be" <br>
  So they loaded up the truck and they moved to Beverly. </p>
  <p>
  Hills, that is. Swimmin' pools. Movie stars. </p>
  <p>
  Well now its time to say good-bye to Jed and all his kin.<br> 
  And they would like to thank you folks fer kindly droppin' in.<br> 
  You're all invited back a gain to this locality<br> 
  To have a heapin' helpin' of their hospitality </p>
  <p>
  Hillybilly that is. Set a spell. Take your shoes off.</p> 
  <p>
  Y'all come back now, y'hear?.
  </p>
</div>