h2 { text-align:center; }

.small {
  color:red;
  font-size: 30px;
  border-bottom: 1em blue solid;
}

.wow-form { 
  position:relative; 
  background:url(buckle-frame600.png) top left no-repeat;
  min-height:40em;
  width: 600px;
  margin: -50px auto;
  }

.new_sale_form { 
  width:325px;
  height:60px;
  position:absolute;
  left:23%;
  top:42%;
  margin-bottom:5em;

  input[type="date"], .new_sale_form input[type="text"]{
  float:right;
  }
  
  input[type="submit"] {
  width: 60%;
  margin: 1em 0 0 20%;
  }
}


/* Styles for card-flip */

.cards { width:80%; margin:0 auto; padding:0; }

.flip {
    -webkit-perspective: 800;
    width: 200px;
    height: 300px;
    position: relative;
    margin: 30px;
    display:inline-block;
}
.flip .card.flipped {
    -webkit-transform: rotatey(180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-box-shadow: 5px 5px 5px #666666;
    -webkit-box-shadow: 5px 5px 5px #666666;
    box-shadow: 5px 5px 5px #666666;
}

.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;    
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: url(hillbilly-truck.jpg);
    color:#A2EC4E;
    text-shadow:1px 1px 5px #444;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatey(180deg);
    background: blue;
    background: white;
    color:#A2EC4E;
    font-size:2em;
    text-shadow:1px 1px 2px #444;
    cursor: pointer;
}